

@model System.Data.DataTable

@{

    Layout = "~/Views/Shared/AdminDashboardLayout.cshtml";
}
    <div style="margin-left:2%;">
        <br />
        <center>  <h2>Doctor's Information</h2> </center>
        <hr />
        <br />

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" type="text/css" />

        <link href="vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">


     
        <div class="my-3" style="display:flex;justify-content:space-around;">
            <div>
                <form class="form-inline" action="AdminDoctorInfo" method="get" style="margin-left:-220px;">
                    <input class="form-control" style="width:300px;border:none;" type="text" name="searchString" placeholder="Search Doctor" />
                    <button class="btn btn-primary" type="submit">
                        <i class="zmdi zmdi-search"></i>
                    </button>
                </form>
            </div>
            <div>
                <a class="btn btn-primary" href="@Url.Action("Create", "Doctor")" style="margin-right:-200px;">
                    <i class="fas fa-plus"></i>
                    <span>
                        Add new Doctor's Info
                    </span>
                </a>
            </div>
        </div>




        <div class="table-responsive ">
            <table class=" table table-hover table-fixed table-striped border-dark " style="background-color: white;">
                <thead class="thead-dark">
                    <tr>

                        <th> Doc ID </th>
                        <th> Name </th>
                        <th> Description  </th>
                        <th> Speciality  </th>
                        <th> Image  </th>
                        <th> Chamber 1  </th>
                        <th> Chamber 2 </th>
                        <th> Chamber 3 </th>
                        <th> Email  </th>
                        <th> Phone </th>
                        <th> Detail  </th>
                        <th> Edit  </th>
                        <th> Delete  </th>





                    </tr>
                </thead>

                @for (int i = 0; i < Model.Rows.Count; i++)
                {
                    <tbody>
                        <tr>

                            <td>@Model.Rows[i][9]</td>
                            <td>@Model.Rows[i][0]</td>
                            <td>@Model.Rows[i][1]</td>
                            <td>@Model.Rows[i][2]</td>

                            <td><img src="@Model.Rows[i][3]" style="width:150px;" /> <a href="@Url.Action("EditImg","Doctor",new {@id=Model.Rows[i][9] })">Upload New</a></td>
                            <td>@Model.Rows[i][4]</td>
                            <td>@Model.Rows[i][5]</td>
                            <td>@Model.Rows[i][6]</td>
                            <td>@Model.Rows[i][7]</td>
                            <td>@Model.Rows[i][8]</td>



                            <td><a href="@Url.Action("Details","Doctor",new {@id=Model.Rows[i][9] })">Detail View </a></td>
                            <td><a href="@Url.Action("Edit","Doctor",new {@id=Model.Rows[i][9] })">Edit </a></td>
                            <td><a href="@Url.Action("Delete","Doctor",new {@id=Model.Rows[i][9] })">Delete</a></td>






                        </tr>
                    </tbody>
                }



            </table>
        </div>

        <script src="~/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>





    </div>


    <style>

        .table-responsive {
            width: 1030px;
            height: 550px;
            font-size: 12px;
        }

        thead tr:first-child th {
            position: sticky;
            top: 0;
        }
    </style>